@model Employee

<h2>Edit Employee</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <h4 class="mt-3">Employee Salary @Model.Salary</h4>
    <button type="submit" class="btn btn-primary mb-4">Save</button>
</form>

<h4>Products associated with this employee</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="10%">Order Id</th>
        <th>Order</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Product Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.ProductsWithOrders)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.OrderTitle</td>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@(item.Quantity * item.Price)</td>
            <td>
                <a class="btn btn-primary w-100" asp-route-Id="@item.OrderId" asp-controller="Order" asp-action="Review">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>